@import './fonts';
@import './colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", Roboto, Arial, Helvetica;
}

body {
  overflow-x: hidden;
  background-color: $baseBackground;
}

// media queries
$phones: "screen and (max-width: 599px)";
$phonesLarge: "only screen and (min-width: 600px) and (max-width: 767px)";
$tabletsLandscape: "only screen and (min-width: 768px) and (max-width: 991px)";
$laptops: "only screen and (min-width: 992px) and (max-width: 1199px)";
$laptopsLarge: "only screen and (min-width: 1200px) and (max-width: 1919px)";
$largeScreen: "only screen and (min-width: 1920px)";